body {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  padding: 0 8%;
}
.topheading{
  text-align: center;
  font-size: 30px;
  color: #333;
  background: #fff;
}
.active {
  font-weight: 700;
  border: 2px solid white;
}
.title {
  font-size: 2rem;
  display: block;
  text-align: center;
  border-bottom: 5px solid #CBE4F9;
  margin: 3%;
  padding-top: 1%;
  padding-bottom: 3%;
}
.add {
  display: flex;
  justify-content: center;
}
form {
  /* display: flex; */

  flex-direction: column;
  border: 1px solid #CBE4F9;
  border-radius: 10px;
  padding-bottom: 1%;
  margin-top: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
  rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
form input,
label,
select {
  display: block;
  font-size: 1.1rem;
}
.addItemInput {
  display: flex;
  flex-direction: column;
  margin: 25px;
  width: 300px;
  justify-content: center;
}
.addItemInput label {
  text-align: left;
  font-weight: 700;
  font: 1.5;
}
input, 
select{
  margin-top: 10px;
  height: 40px;
  width: 270px;
  border: 3px solid #CBE4F9;
  border-radius: 10px;
  padding: 8px;
  outline: none;
}

select {
  height: 50px;
}
input:hover {
  color: coralx;
  border: 3px solid #CBE4F9;
  /* border-color: white; */
}
.addItemBtn {
  background-color: white;
  padding: 15px 50px;
  font-size: 1.1rem;
  font-weight: 700;
  border: 2px solid #333;
  border-radius: 2rem;
}
.addItemBtn:hover {
  background-color: #CBE4F9;
  color: black;
}

.titlefont{
  font-weight: 700;
}
.form-part{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  width: 60%;
  margin: 0% auto;
}