body {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  padding: 0 8%;
}
.active {
  font-weight: 700;
  border: 2px solid white;
}
.titlefont{
  font-weight: 700;
}
.title {
  padding-bottom:1%;
  margin-bottom: 4%;
  font-size: 2rem;
  border-bottom: 5px solid #CBE4F9;
}
table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
button {
  background-color: transparent;
  border: none;
}
.stripcolor{
  background: #eaf3fa;
}

.topheading{
  text-align: center;
  font-size: 30px;
  color: #333;
  background: #fff;
}