body {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  padding: 0 8%;
}
.active {
  font-weight: 700;
  border: 2px solid white;
}
.title {
  font-size: 2rem;
  padding-bottom: 2%;
  margin-bottom: 4%;
  border-bottom: 5px solid #CBE4F9;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid gray;
}

td,
th {
  border: 2px solid gray;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #fac2aece;
}
tr:hover {
  background-color: #6777882c;
}

.titlefont{
  font-weight: 700;
}