body {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  padding: 0 8%;
}
.active {
  font-weight: 700;
  border: 2px solid white;
}
.title {
  font-size: 2rem;
  padding-bottom: 2%;
  margin-bottom: 4%;
  border-bottom: 5px solid #CBE4F9;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
td select {
  width: 100%;
  border: none !important;
  font-size: 16px;
  background-color: transparent;
  outline: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
}

.stripcoloor{
  background: #eaf3fa;
}

.titlefont{
  font-weight: 700;
}
.topheading{
  text-align: center;
  font-size: 30px;
  color: #333;
  background: #fff;
}