body {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding: 0 8%;
  }
  .active {
    font-weight: 700;
    border: 2px solid white;
  }
#urlImg{
    text-align: center;
    width: 50px;
    
}
button {
    background-color: transparent;
    border: none;
    outline: none;
}
.title{
  border-bottom: 1px solid black;
  padding-top: 2%;
  margin-bottom: 4%;
}


.thumbnail:hover {
  position: relative;
  left: 35px;
  width: 211px !important;
  height: auto;
  display: block;
  z-index: 999;
}
